/* Add CSS Styling */
.paragraph {
    background-color: rgb(255, 0, 217);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.paragraph.bigger {
    font-size: 24px;
}

#div-1 {
    color: hsl(231, 86%, 51%);
    font-size: 36px;
}

#div-2 {
    background-color: #36e81b;
    font-size: 24px;
    font-weight: bold;
}